@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.BannerSectionBase

<section class="banner-area home-01">
    <div class="container custom-container-01">
        <div class="banner-wrapper">
            <div class="row">
                <div class="col-xl-7 col-lg-10">
                    <div class="banner-inner">
                        @if (Children != null)
                        {
                            var text = Children.FirstOrDefault(c => c.Segment ==
                            "eduplan.homekit.banner.widgets.BannerText");
                            if (text != null)
                            {
                                @WireframeParser.RenderWireFrame(text)
                                ;
                            }
                        }

                        @if (Children != null)
                        {
                            var buttons = Children.FirstOrDefault(c => c.Segment ==
                            "eduplan.homekit.banner.widgets.BannerButtons");
                            if (buttons != null)
                            {
                                @WireframeParser.RenderWireFrame(buttons)
                                ;
                            }
                        }
                    </div>
                </div>
                <div class="col-xl-5">
                    @if (Children != null)
                    {
                        var thumbnail = Children.FirstOrDefault(c => c.Segment ==
                        "eduplan.homekit.banner.widgets.BannerThumbnail");
                        if (thumbnail != null)
                        {
                            @WireframeParser.RenderWireFrame(thumbnail)
                            ;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>