@namespace eduplan.homekit
@inherits eduplan.homekit.BannerSectionBase

<section class="banner-area home-01">
    <div class="container custom-container-01">
        <div class="banner-wrapper">
            <div class="row">
                <div class="col-xl-7 col-lg-10">
                    <div class="banner-inner">
                        <p class="subtitle">SPECIAL OFFER FIRST CUSTOMER</p>
                        <h1 class="title">Your <span>success</span> journey start with us!</h1>
                        <p>Eduplan Education Can Fulfil Your International Education Dream <br> As Per Your Best
                            Fit with world top universities and collages.</p>
                        <div class="header-btn">
                            <div class="btn-wrap">
                                <a href="#0" class="btn-common flat-btn btn-active">apply online</a>
                            </div>
                            <div class="btn-wrap margin-left-20">
                                <a href="contact.html" class="btn-common fill-btn">Discover</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/shapes/Ellipse-01.png"
                            class="element-01" alt="Ellipse">
                        <img src="_content/Components.Repository/assets/eduplan/img/shapes/Ellipse-02.png"
                            class="element-02" alt="Ellipse">
                        <img src="_content/Components.Repository/assets/eduplan/img/shapes/Vector-15.png"
                            class="element-03" alt="vector">
                        <img src="_content/Components.Repository/assets/eduplan/img/header/plane.png" class="element-04"
                            alt="plane">
                        <img src="_content/Components.Repository/assets/eduplan/img/icon/location.png"
                            class="element-05" alt="location">
                        <img src="_content/Components.Repository/assets/eduplan/img/header/header-img.png"
                            class="banner-img" alt="Student">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>