@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.CategorySectionBase

<section class="category-section-area" id="app-sect-categories">
    <div class="container custom-container-01">
        <div class="row">
            @if (Children != null)
            {
                var sectionHeader = Children.FirstOrDefault(c => c.Segment ==
                "eduplan.homekit.categories.widgets.SectionHeader");
                if (sectionHeader != null)
                {
                    @WireframeParser.RenderWireFrame(sectionHeader)
                    ;
                }
            }
        </div>
        <div class="tab-content">
            @if (Children != null)
            {
                var categoryItems = Children.FirstOrDefault(c => c.Segment ==
                "eduplan.homekit.categories.widgets.CategoryItems");
                if (categoryItems != null)
                {
                    @WireframeParser.RenderWireFrame(categoryItems)
                    ;
                }
            }
        </div>
    </div>
</section>