@namespace eduplan.homekit
@inherits eduplan.homekit.CategorySectionBase

<section class="category-section-area">
    <div class="container custom-container-01">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-wrapper d-flex justify-content-between">
                    <div class="theme-section-title">
                        <span class="subtitle">CATEGORIES</span>
                        <h4 class="title">Popular Discipline & Collage</h4>
                    </div>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" data-bs-toggle="pill"
                                data-bs-target="#discipline">Discipline</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="pill" data-bs-target="#collage">Collage</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="discipline">
                <div class="destination-items-wrap">
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/foresty.png"
                                alt="">
                        </div>
                        <h6 class="name">Agriculture & <br> Foresty</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/science.png"
                                alt="">
                        </div>
                        <h6 class="name">science <br> & professional</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/art.png"
                                alt="">
                        </div>
                        <h6 class="name">Art, Design & <br> Culture</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/business.png"
                                alt="">
                        </div>
                        <h6 class="name">Business & <br> Management</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/pc.png"
                                alt="">
                        </div>
                        <h6 class="name">Computer <br> Science & IT</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/book.png"
                                alt="">
                        </div>
                        <h6 class="name">Education & <br> Training</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/click.png"
                                alt="">
                        </div>
                        <h6 class="name">Engeneering & <br> Technology</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/french-fry.png"
                                alt="">
                        </div>
                        <h6 class="name">Hopitality & <br> Sports</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/news-paper.png"
                                alt="">
                        </div>
                        <h6 class="name">Journalism & <br> Media</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/first-aid-kit.png"
                                alt="">
                        </div>
                        <h6 class="name">Medicine & <br> Health</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/law.png"
                                alt="">
                        </div>
                        <h6 class="name">Law</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/enverment.png"
                                alt="">
                        </div>
                        <h6 class="name">Social Science</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/humanity.png"
                                alt="">
                        </div>
                        <h6 class="name">Humanities</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/recicle.png"
                                alt="">
                        </div>
                        <h6 class="name">Enviromental <br> Studies</h6>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="collage">
                <div class="destination-items-wrap">
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/french-fry.png"
                                alt="">
                        </div>
                        <h6 class="name">Hopitality & <br> Sports</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/news-paper.png"
                                alt="">
                        </div>
                        <h6 class="name">Journalism & <br> Media</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/first-aid-kit.png"
                                alt="">
                        </div>
                        <h6 class="name">Medicine & <br> Health</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/law.png"
                                alt="">
                        </div>
                        <h6 class="name">Law</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/enverment.png"
                                alt="">
                        </div>
                        <h6 class="name">Social Science</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/humanity.png"
                                alt="">
                        </div>
                        <h6 class="name">Humanities</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/recicle.png"
                                alt="">
                        </div>
                        <h6 class="name">Enviromental <br> Studies</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/foresty.png"
                                alt="">
                        </div>
                        <h6 class="name">Agriculture & <br> Foresty</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/science.png"
                                alt="">
                        </div>
                        <h6 class="name">science <br> & professional</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/art.png"
                                alt="">
                        </div>
                        <h6 class="name">Art, Design & <br> Culture</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/business.png"
                                alt="">
                        </div>
                        <h6 class="name">Business & <br> Management</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/pc.png"
                                alt="">
                        </div>
                        <h6 class="name">Computer <br> Science & IT</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/book.png"
                                alt="">
                        </div>
                        <h6 class="name">Education & <br> Training</h6>
                    </div>
                    <div class="destination-single-item style-01">
                        <div class="thumbnail">
                            <img src="_content/Components.Repository/assets/eduplan/img/sections/desipline/click.png"
                                alt="">
                        </div>
                        <h6 class="name">Engeneering & <br> Technology</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>