@namespace eduplan.homekit
@inherits eduplan.homekit.DestinationsAreaBase

<section class="margin-top-110 section-bottom-space">
    <div class="destination-section">
        <img src="_content/Components.Repository/assets/eduplan/img/shapes/mountant.png"
            class="shape-01 wow animate__animated animate__delay-1s animate__fadeInUp" alt="mountant">
        <div class="plane-wrap">
            <img src="_content/Components.Repository/assets/eduplan/img/shapes/plane.png" class="shape-02"
                alt="mountant">
        </div>
        <div class="container custom-container-01">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="theme-section-title desktop-center text-center">
                        <h4 class="title">Top Destinations</h4>
                        <p>We have quality partners in variety of destinations around the globe.</p>
                    </div>
                </div>
            </div>
            <div class="destination-items-wrap">
                <div class="destination-single-item">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/sections/destination/canda.png"
                            alt="">
                    </div>
                    <h6 class="name">Canada</h6>
                </div>
                <div class="destination-single-item">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/sections/destination/usa.png"
                            alt="">
                    </div>
                    <h6 class="name">America</h6>
                </div>
                <div class="destination-single-item">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/sections/destination/australia.png"
                            alt="">
                    </div>
                    <h6 class="name">London</h6>
                </div>
                <div class="destination-single-item">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/sections/destination/span.png"
                            alt="">
                    </div>
                    <h6 class="name">Spain</h6>
                </div>
                <div class="destination-single-item">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/sections/destination/franch.png"
                            alt="">
                    </div>
                    <h6 class="name">French</h6>
                </div>
                <div class="destination-single-item">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/sections/destination/swideen.png"
                            alt="">
                    </div>
                    <h6 class="name">Sweden</h6>
                </div>
                <div class="destination-single-item">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/sections/destination/italy.png"
                            alt="">
                    </div>
                    <h6 class="name">Italy</h6>
                </div>
            </div>
            <div class="btn-wrap desktop-center margin-top-40 text-center">
                <a href="contact.html" class="btn-common fill-btn style-01">apply online</a>
            </div>
        </div>
    </div>
</section>