@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.DestinationsAreaBase

<section class="margin-top-110 section-bottom-space">
    <div class="destination-section">
        @if (Children != null)
        {
            var plane = Children.FirstOrDefault(c => c.Segment == "eduplan.homekit.destinations.widgets.PlaneAnimation");
            if (plane != null)
            {
                @WireframeParser.RenderWireFrame(plane)
                ;
            }
        }
        <div class="container custom-container-01">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    @if (Children != null)
                    {
                        var sectionTitle = Children.FirstOrDefault(c => c.Segment ==
                        "eduplan.homekit.destinations.widgets.SectionTitle");
                        if (sectionTitle != null)
                        {
                            @WireframeParser.RenderWireFrame(sectionTitle)
                            ;
                        }
                    }
                </div>
            </div>
            <div class="destination-items-wrap">
                @if (Children != null)
                {
                    var destinationItems = Children.FirstOrDefault(c => c.Segment ==
                    "eduplan.homekit.destinations.widgets.DestinationItems");
                    if (destinationItems != null)
                    {
                        @WireframeParser.RenderWireFrame(destinationItems)
                        ;
                    }
                }
            </div>
            @if (Children != null)
            {
                var sectionButton = Children.FirstOrDefault(c => c.Segment ==
                "eduplan.homekit.destinations.widgets.SectionButton");
                if (sectionButton != null)
                {
                    @WireframeParser.RenderWireFrame(sectionButton)
                    ;
                }
            }
        </div>
    </div>
</section>