@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.FaqSectionBase

<section class="faq-section-area margin-top-90" id="app-sect-faqs">
    <div class="container custom-container-01">
        <div class="row">
            <div class="col-lg-6">
                @if (Children != null)
                {
                    var sectionTitle = Children.FirstOrDefault(c => c.Segment ==
                    "eduplan.homekit.faqs.widgets.SectionTitle");
                    if (sectionTitle != null)
                    {
                        @WireframeParser.RenderWireFrame(sectionTitle)
                        ;
                    }
                }

                @if (Children != null)
                {
                    var sectionContent = Children.FirstOrDefault(c => c.Segment ==
                    "eduplan.homekit.faqs.widgets.SectionContent");
                    if (sectionContent != null)
                    {
                        @WireframeParser.RenderWireFrame(sectionContent)
                        ;
                    }
                }
            </div>
            <div class="col-lg-6">
                <div class="accordion-wrapper">
                    <div id="accordionOne">
                        @if (Children != null)
                        {
                            var faqCardItems = Children.FirstOrDefault(c => c.Segment ==
                            "eduplan.homekit.faqs.widgets.FaqCardItems");
                            if (faqCardItems != null)
                            {
                                @WireframeParser.RenderWireFrame(faqCardItems)
                                ;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>