@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.FeaturesSectionBase

<section class="features-section margin-top-100" id="app-sect-features">
    <img src="_content/Components.Repository/assets/eduplan/img/shapes/graduation.png" class="shape"
        alt="graduation cap">
    <div class="container custom-container-01">
        <div class="row">
            @if (Children != null)
            {
                var items = Children.FirstOrDefault(i => i.Segment == "eduplan.homekit.features.widgets.IconBoxItems");
                if (items != null)
                {
                    @WireframeParser.RenderWireFrame(items)
                    ;
                }
            }
        </div>
    </div>
</section>