@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.FeedbackSectionBase

<section class="feedback-section margin-top-110" id="app-sect-feedback">
    <div class="container custom-container-01">
        <div class="row justify-content-center">
            @if (Children != null)
            {
                var sectionTitle = Children.FirstOrDefault(c => c.Segment ==
                "eduplan.homekit.feedback.widgets.SectionTitle");
                if (sectionTitle != null)
                {
                    @WireframeParser.RenderWireFrame(sectionTitle)
                    ;
                }
            }
        </div>
        <div class="row">
            @if (Children != null)
            {
                var imageBoxItems = Children.FirstOrDefault(c => c.Segment ==
                "eduplan.homekit.feedback.widgets.ImageBoxItems");
                if (imageBoxItems != null)
                {
                    @WireframeParser.RenderWireFrame(imageBoxItems)
                    ;
                }
            }
        </div>
    </div>
</section>