@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.FooterSectionBase

<footer class="footer-area style-01" id="app-sect-footer">
    <div class="footer-top">
        <div class="container custom-container-01">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @if (Children != null)
                    {
                        var subscribeWidget = Children.FirstOrDefault(c => c.Segment ==
                        "eduplan.homekit.footer.widgets.SubscribeWidget");
                        if (subscribeWidget != null)
                        {
                            @WireframeParser.RenderWireFrame(subscribeWidget)
                            ;
                        }
                    }
                </div>
            </div>
            <div class="footer-middle">
                <div class="row">
                    @if (Children != null)
                    {
                        var footerLinks = Children.FirstOrDefault(c => c.Segment ==
                        "eduplan.homekit.footer.widgets.FooterLinks");
                        if (footerLinks != null)
                        {
                            @WireframeParser.RenderWireFrame(footerLinks)
                            ;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Children != null)
    {
        var copyRightArea = Children.FirstOrDefault(c => c.Segment == "eduplan.homekit.footer.widgets.CopyRightArea");
        if (copyRightArea != null)
        {
            @WireframeParser.RenderWireFrame(copyRightArea)
            ;
        }
    }
</footer>