@namespace eduplan.homekit
@inherits eduplan.homekit.NewsSectionBase

<section class="news-section-area margin-top-110">
    <div class="container custom-container-01">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="theme-section-title desktop-center text-center">
                    <span class="subtitle">EDUPLAN UPDATES</span>
                    <h4 class="title">Eduplan Latest Blog</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-grid-item">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/h-blog/01.png" alt=""
                            class="border-radius-20">
                    </div>
                    <div class="content">
                        <ul class="post-categories">
                            <li><img src="_content/Components.Repository/assets/eduplan/img/icon/calander.png"
                                    alt="">19th Jan 2022</li>
                            <li>12 noon to 4 pm</li>
                        </ul>
                        <h4 class="title">Overseas Education Fair Amravati 2023</h4>
                        <div class="btn-wrap">
                            <a href="#0" class="more-btn">Read More <i class="fa-solid fa-angle-right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-grid-item">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/h-blog/02.png" alt="">
                    </div>
                    <div class="content">
                        <ul class="post-categories">
                            <li><img src="_content/Components.Repository/assets/eduplan/img/icon/calander.png"
                                    alt="">19th Jan 2022</li>
                            <li>12 noon to 4 pm</li>
                        </ul>
                        <h4 class="title">Overseas Education Fair Amravati 2023</h4>
                        <div class="btn-wrap">
                            <a href="#0" class="more-btn">Read More <i class="fa-solid fa-angle-right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-grid-item">
                    <div class="thumbnail">
                        <img src="_content/Components.Repository/assets/eduplan/img/h-blog/03.png" alt="">
                    </div>
                    <div class="content">
                        <ul class="post-categories">
                            <li><img src="_content/Components.Repository/assets/eduplan/img/icon/calander.png"
                                    alt="">19th Jan 2022</li>
                            <li>12 noon to 4 pm</li>
                        </ul>
                        <h4 class="title">Overseas Education Fair Amravati 2023</h4>
                        <div class="btn-wrap">
                            <a href="#0" class="more-btn">Read More <i class="fa-solid fa-angle-right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>