@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.NewsSectionBase

<section class="news-section-area margin-top-110" id="app-sect-news">
    <div class="container custom-container-01">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                @if (Children != null)
                {
                    var sectionTitle = Children.FirstOrDefault(c => c.Segment ==
                    "eduplan.homekit.news.widgets.SectionTitle");
                    if (sectionTitle != null)
                    {
                        @WireframeParser.RenderWireFrame(sectionTitle)
                        ;
                    }
                }
            </div>
        </div>
        <div class="row">
            @if (Children != null)
            {
                var blogGridItems = Children.FirstOrDefault(c => c.Segment == "eduplan.homekit.news.widgets.BlogGridItems");
                if (blogGridItems != null)
                {
                    @WireframeParser.RenderWireFrame(blogGridItems)
                    ;
                }
            }
        </div>
    </div>
</section>