@namespace eduplan.homekit
@inherits eduplan.homekit.StepsSectionBase

<section class="destination-section style-01 margin-top-110 instruction">
    <div class="container custom-container-01">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="theme-section-title desktop-center text-center">
                    <span class="subtitle">STEPS</span>
                    <h4 class="title">Steps to Get your Destination</h4>
                </div>
            </div>
        </div>
        <div class="destination-items-wrap">
            <div class="destination-single-item style-02">
                <div class="thumbnail">
                    <img src="_content/Components.Repository/assets/eduplan/img/icon/step-01.png" alt="">
                </div>
                <h6 class="name">Identify course <br> country & collage</h6>
            </div>
            <div class="destination-single-item style-02">
                <div class="thumbnail">
                    <img src="_content/Components.Repository/assets/eduplan/img/icon/step-02.png" alt="">
                </div>
                <h6 class="name">science <br> & professional</h6>
            </div>
            <div class="destination-single-item style-02">
                <div class="thumbnail">
                    <img src="_content/Components.Repository/assets/eduplan/img/icon/step-03.png" alt="">
                </div>
                <h6 class="name">Art, Design & <br> Culture</h6>
            </div>
            <div class="destination-single-item style-02">
                <div class="thumbnail">
                    <img src="_content/Components.Repository/assets/eduplan/img/icon/step-04.png" alt="">
                </div>
                <h6 class="name">Business & <br> Management</h6>
            </div>
            <div class="destination-single-item style-02">
                <div class="thumbnail">
                    <img src="_content/Components.Repository/assets/eduplan/img/icon/step-05.png" alt="">
                </div>
                <h6 class="name">Computer <br> Science & IT</h6>
            </div>
        </div>
    </div>
</section>