@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.StepsSectionBase

<section class="destination-section style-01 margin-top-110 instruction" id="app-sect-steps">
    <div class="container custom-container-01">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                @if (Children != null)
                {
                    var sectionTitle = Children.FirstOrDefault(c => c.Segment ==
                    "eduplan.homekit.steps.widgets.SectionTitle");
                    if (sectionTitle != null)
                    {
                        @WireframeParser.RenderWireFrame(sectionTitle)
                        ;
                    }
                }
            </div>
        </div>
        <div class="destination-items-wrap">
            @if (Children != null)
            {
                var stepItems = Children.FirstOrDefault(c => c.Segment ==
                "eduplan.homekit.steps.widgets.StepItems");
                if (stepItems != null)
                {
                    @WireframeParser.RenderWireFrame(stepItems)
                    ;
                }
            }
        </div>
    </div>
</section>