@using wireframes.render.services

@namespace eduplan.homekit
@inherits eduplan.homekit.TopNavigationBarBase

<div class="nav-area-wrapper-relative">
    <nav class="navbar navbar-area navbar-expand-lg navigation-style-02">
        <div class="container custom-container custom-container-01">
            <div class="responsive-menu">
                @if (Children != null)
                {
                    var logo = Children.FirstOrDefault(x => x.Segment == "eduplan.homekit.topnav.widgets.LinkImageLogo");
                    if (logo is not null)
                        @WireframeParser.RenderWireFrame(logo)
                    ;
                }
                <button class="navbar-toggler navbar-bs-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#themeim_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            @if (Children != null)
            {
                var menu = Children.FirstOrDefault(x => x.Segment == "eduplan.homekit.topnav.widgets.TopNavMenu");
                if (menu is not null)
                    @WireframeParser.RenderWireFrame(menu)
                ;
            }
            <div class="nav-right-content">
                <div class="icon-part">
                    <ul>
                        <li id="search"><a href="#"><img
                                    src="_content/Components.Repository/assets/eduplan/img/icon/search-icon.png"
                                    alt=""></a></li>
                    </ul>
                </div>
                <div class="btn-wrap">
                    <a href="#" class="btn-common nav-btn">Free consultation</a>
                </div>
            </div>
        </div>
    </nav>
</div>