@namespace eduplan.homekit
@inherits eduplan.homekit.TopNavigationBarBase

<div class="nav-area-wrapper-relative">
    <nav class="navbar navbar-area navbar-expand-lg navigation-style-02">
        <div class="container custom-container custom-container-01">
            <div class="responsive-menu">
                <div class="logo-wrapper">
                    <a href="index.html" class="logo">
                        <img src="_content/Components.Repository/assets/eduplan/img/Logos/logo-black.svg" alt="">
                    </a>
                </div>
                <button class="navbar-toggler navbar-bs-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#themeim_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="themeim_main_menu">
                <ul class="navbar-nav">
                    <li class="menu-item-has-children current-menu-item">
                        <a href="#0">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home One</a></li>
                            <li><a href="index-02.html">Home Two</a></li>
                        </ul>
                    </li>

                    <li><a href="about-us.html">About Us</a></li>

                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="Our-services.html">Our Services</a></li>
                            <li><a href="services-details.html">Services Details</a></li>
                            <li><a href="our-team.html">Team</a></li>
                            <li><a href="instructors.html">Instructors</a></li>
                            <li><a href="about-instructor.html">About Instructor</a></li>
                            <li><a href="country-details.html">Country Details</a></li>
                            <li><a href="all-course.html">All Course</a></li>
                            <li><a href="all-course-widget.html">All Course with widget</a></li>
                            <li><a href="course-details.html">Course Details</a></li>
                            <li><a href="apply-online.html">Apply Online</a></li>
                            <li><a href="shop-cart.html">Shop Cart</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="404.html">404</a></li>
                            <li><a href="cart-empty.html">Cart Empty</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-classic.html">Blog Classic</a></li>
                            <li><a href="blog-details.html">Blog Single</a></li>
                        </ul>
                    </li>

                    <li><a href="contact-us.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="nav-right-content">
                <div class="icon-part">
                    <ul>
                        <li id="search"><a href="#"><img
                                    src="_content/Components.Repository/assets/eduplan/img/icon/search-icon.png"
                                    alt=""></a></li>
                    </ul>
                </div>
                <div class="btn-wrap">
                    <a href="#" class="btn-common nav-btn">Free consultation</a>
                </div>
            </div>
        </div>
    </nav>
</div>