@page "/"
@using static System.Net.WebRequestMethods
@layout RenderLayout

@* Head Content *@
<PageTitle>Welcome</PageTitle>
<HeadContent>
    <meta name="description" content="This is a test for Description">
    @* Add CDN to Template CSS *@
    @foreach (var templateString in TemplateUrl)
    {
        <link rel="@templateString" href="@templateString">
    }
</HeadContent>



@* Body Content *@

@foreach (var section in BodySections)
{
    @((MarkupString)await Http.Post("www.applantus.com/api/GetSection/section.Guid"))
}

<div class="preloader" id="preloader" style="display: none;">
    <div class="preloader-inner">
        <div class="loader">
        </div>
    </div>
</div>


<SurveyPrompt Title="How is Blazor working for you?" />

@* JS Content *@


@code {
    
    private List<string> TemplateUrl  { get; set; }
    private List<string> BodySections { get; set; }

    private string? MovieResponse { get; set; }
    private string? MovieDetails { get; set; }


    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(3000);
        List<string> TemplateUrl = await Http.Post("www.applantus.com/api/GetTemplate/apiKey/apisecret");
        List<string> BodySections = await Http.Post("www.applantus.com/api/GetTemplate/apiKey/apisecret");
        MovieResponse = await Http.GetFromJsonAsync<string>("movie/popular");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("Hello from Auto component");
            Console.WriteLine("If this is in your browser console, this is rendered in WebAssembly");
            Console.WriteLine("If this is in your server's console, this is rendered via SignalR");
        }
    }

    private async Task GetMovieDetails(int id)
    {
        MovieDetails = null;
        StateHasChanged();

        //await Task.Delay(1000);

        MovieDetails = await Http.GetFromJsonAsync<MovieDetails>($"movie/{id}");
        StateHasChanged();
    }
}