@namespace eduplan

@inherits HomePageBase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eduplan HTML-5 Template</title>
    <!-- favicon -->
    <link rel="icon" href="_content/Components.Repository/assets/eduplan/img/favicon.png" sizes="20x20"
        type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="_content/Components.Repository/assets/eduplan/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="_content/Components.Repository/assets/eduplan/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="_content/Components.Repository/assets/eduplan/css/magnific-popup.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="_content/Components.Repository/assets/eduplan/css/nice-select.css">
    <!-- Odomiters css -->
    <link rel="stylesheet" href="_content/Components.Repository/assets/eduplan/css/odometer.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="_content/Components.Repository/assets/eduplan/css/font-awesome.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="_content/Components.Repository/assets/eduplan/css/slick.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="_content/Components.Repository/assets/eduplan/css/style.css">
    <!-- Responsive Css -->
    <link rel="stylesheet" href="_content/Components.Repository/assets/eduplan/css/responsive.css" />
</head>

<!-- Developed by Shahadat Hossain -->

<body>
    <eduplan.shared.PreLoader />

    <eduplan.shared.BodyOverLay />

    <eduplan.homekit.SearchPopUp />

    <main class="page-wrapper">
        <eduplan.homekit.TopNavigationBar />

        <eduplan.homekit.BannerSection />

        <eduplan.homekit.FeaturesSection />

        <eduplan.homekit.FeedbackSection />

        <eduplan.homekit.DestinationsArea />

        <eduplan.homekit.AboutSection />

        <eduplan.homekit.CategoriesSection />

        <eduplan.homekit.StepsSection />

        <eduplan.homekit.NewsSection />

        <eduplan.homekit.FaqSection />

        <eduplan.homekit.FooterSection />
    </main>

    <!-- back to top area start -->
    <eduplan.shared.BackToTop />
    <!-- back to top area end -->

    <!-- Jquery Js -->
    <script src="_content/Components.Repository/assets/eduplan/js/jquery-3.6.0.min.js"></script>
    <!-- bootstrap -->
    <script src="_content/Components.Repository/assets/eduplan/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="_content/Components.Repository/assets/eduplan/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="_content/Components.Repository/assets/eduplan/js/wow.min.js"></script>
    <!-- Nice Select -->
    <script src="_content/Components.Repository/assets/eduplan/js/jquery.nice-select.js"></script>
    <!-- countdown -->
    <script src="_content/Components.Repository/assets/eduplan/js/jquery.countdown.min.js"></script>
    <!-- Odomiters -->
    <script src="_content/Components.Repository/assets/eduplan/js/odometer.min.js"></script>
    <!-- Viewport Js -->
    <script src="_content/Components.Repository/assets/eduplan/js/viewport.jquery.js"></script>
    <!-- slick Js -->
    <script src="_content/Components.Repository/assets/eduplan/js/slick.min.js"></script>
    <!-- main js -->
    <script src="_content/Components.Repository/assets/eduplan/js/main.js"></script>
</body>

</html>